.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.description {
    font-size: 12px;
}

strong {
    font-weight: 700;
}

hr {
    margin: 10px 0;
}

.inner__row {
    margin-bottom: 15px;
}

.inner__title,
.inner__desc {
    display: block;
    margin-bottom: 10px;
}

.inner__title {
    font-weight: 700;
}

.inner__desc {
    font-size: 14px;
}

input,
button {
    border: none;
    min-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    min-width: 220px;
}

input:active,
button:active,
input:focus,
button:focus {
    outline: none;
}

button {
    background-color: transparent;
}

.cbbl {
    font-size: 14px;
}

.cbbl input {}

.cbbl {
    position: relative;
    display: inline-block;
    margin: 10px 9px 29px 6px;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    color: #000;
    padding: 5px;
    box-shadow: 0 -3px #fff, 0 -6px #000, 3px 0 #fff, 3px -3px #000, 6px 0 #000, 0 3px #fff, 0 6px #000, -3px 0 #fff, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px rgba(34, 34, 34, 0.3), 6px 6px rgba(34, 34, 34, 0.3), 9px 3px rgba(34, 34, 34, 0.3);
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.cbbl::before,
.cbbl::after {
    content: '';
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    box-sizing: border-box;
    left: 20%;
}

.cbbl::after {
    background: #fff;
    width: 9px;
    height: 3px;
    bottom: -14px;
    margin-left: 6px;
    box-shadow: -3px 0 #000, 3px 0 #000, 3px 3px #fff, 0px 3px #000, 6px 3px #000, 9px 3px rgba(34, 34, 34, 0.3), 3px 6px #000, 6px 6px #000, 9px 6px rgba(34, 34, 34, 0.3), 6px 9px rgba(34, 34, 34, 0.3);
}

.cbbl::before {
    width: 15px;
    height: 8px;
    background: #fff;
    bottom: -11px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.cbbl.-up {
    margin: 29px 9px 10px 6px;
}

.cbbl.-up::before {
    top: -11px;
    bottom: auto;
}

.cbbl.-up::after {
    top: -14px;
    bottom: auto;
    box-shadow: -3px 0 #000, 3px 0 #000, 3px -3px #fff, 0px -3px #000, 6px -3px #000, 3px -6px #000, 6px -6px #000;
}

.cbbl.-up.-hover:hover::after {
    box-shadow: -3px 0 #7bc8a4, 3px 0 #7bc8a4, 3px -3px #eee, 0px -3px #7bc8a4, 6px -3px #7bc8a4, 3px -6px #7bc8a4, 6px -6px #7bc8a4;
}

.cbbl.-up.-right::after {
    box-shadow: 3px 0 #000, -3px 0 #000, -3px -3px #fff, 0px -3px #000, -6px -3px #000, -3px -6px #000, -6px -6px #000;
}

.cbbl.-up.-right.-hover:hover::after {
    box-shadow: 3px 0 #7bc8a4, -3px 0 #7bc8a4, -3px -3px #eee, 0px -3px #7bc8a4, -6px -3px #7bc8a4, -3px -6px #7bc8a4, -6px -6px #7bc8a4;
}

.cbbl.-right::before,
.cbbl.-right::after {
    left: auto;
    right: 20%;
}

.cbbl.-right::after {
    margin-left: 0;
    margin-right: 6px;
    box-shadow: 3px 0 #000, -3px 0 #000, -3px 3px #fff, 0px 3px #000, -6px 3px #000, -3px 6px #000, -6px 6px #000, -3px 9px rgba(34, 34, 34, 0.3), 0 6px rgba(34, 34, 34, 0.3), 3px 3px rgba(34, 34, 34, 0.3), 6px 0px rgba(34, 34, 34, 0.3);
}

.cbbl.-right.-hover:hover::after {
    box-shadow: 3px 0 #7bc8a4, -3px 0 #7bc8a4, -3px 3px #eee, 0px 3px #7bc8a4, -6px 3px #7bc8a4, -3px 6px #7bc8a4, -6px 6px #7bc8a4, -3px 9px #cae9db, 0 6px #cae9db, 3px 3px #cae9db, 6px 0px #cae9db;
}

/* ------------------------------------------------- */

.but, .but2 {
    font-size: 14px;
    cursor: pointer;
}

.but, .but2 {
    position: relative;
    display: inline-block;
    margin: 10px 9px 29px 6px;
    text-align: center;
    background-color: #0063b2;
    color: #fff;
    padding: 5px;
    box-shadow: 0 -3px #006ec5, 0 -6px #000, 3px 0 #006ec5, 3px -3px #000, 6px 0 #000, 0 3px #006ec5, 0 6px #000, -3px 0 #006ec5, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px rgba(34, 34, 34, 0.3), 6px 6px rgba(34, 34, 34, 0.3), 9px 3px rgba(34, 34, 34, 0.3);
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.but2{
    background-color: #74b200;
    box-shadow: 0 -3px #81c500, 0 -6px #000, 3px 0 #81c500, 3px -3px #000, 6px 0 #000, 0 3px #81c500, 0 6px #000, -3px 0 #81c500, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px rgba(34, 34, 34, 0.3), 6px 6px rgba(34, 34, 34, 0.3), 9px 3px rgba(34, 34, 34, 0.3);

}

.but::before,
.but::after, 
.but2::before, 
.but2::after{
    content: '';
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    box-sizing: border-box;
    left: 20%;
}
